*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#icon {
  width: 200px;
}

#input-box {
  padding: 20px;
  color: white;
  background: rgb(46, 140, 110);
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 10px;
}

.input-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-container > input {
  font-size: 1.5em;
  padding: 15px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

#table {
  margin-top: 10px;
  width: 100%;
}

#table th {
  color: rgb(150, 210, 187);
  text-align: right;
}

#table td {
  font-size: 1.2em;
  text-align: right;
  padding: 10px 0;
}